:root {
  --text-active-color: #22b1cd;
  --text-normal-color: #b8b6b4;
  --dark-background: #171a21;
  --header-height: 5rem;
}

.ul {
  display: flex;
  position: relative;
  width: 100vw;
  height: var(--header-height);
  margin: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--dark-background);
}

.liBtn {
  position: relative;
  display: flex;
  height: inherit;
  align-items: center;
  text-align: center;
  list-style-type: none;
  padding: 0 calc(0.5rem + (1 - 0.5) * (100vw - 400px) / (1000 - 400));
  text-decoration: none;
  font-size: calc(14px + (20 - 14) * (100vw - 400px) / (1800 - 400));
  text-transform: uppercase;
  color: var(--text-normal-color);
  font-family: 'Motiva Sans', Sans-serif;
  box-sizing: border-box;
  border-bottom: 5px solid var(--text-normal-color);
}

.liBtn:hover {
  border-bottom: 5px solid #dddddc;
  cursor: pointer;
}

.liBtn.active {
  color: var(--text-active-color);
  border-bottom: 5px solid var(--text-active-color);
}

.liBtn:focus {
  background-color: #b8b6b417;
}

.logo-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  height: var(--header-height);
  width: 100%;
  margin-right: 5vw;
  padding: 0.5em 0;
  box-sizing: border-box;
}

.logo {
  position: relative;
  height: 100%;
  color: red;
}
