.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 0.5rem 0.5rem 0;
  position: relative;
  transition: all 0.5s;

  &_max-height {
    max-height: 1000px;
  }

  &_hide {
    background-color: gray;
    margin: 0;
    max-height: 0;
    padding: 0;
  }
}

.div-input-wrapper {
  border-radius: 0;
  display: flex;
  flex: 1;
  flex-shrink: 1;

  /* padding: 1rem; */
  margin: 0.5rem 0 0 0.5rem;
  max-width: 400px;
  min-width: 200px;

  /* box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.42); */
  &:first-child {
    /* flex-grow: 1; */

    flex: 0.5 1 1em;
  }
}

.employee-text {
  margin: 0;
  padding-bottom: 2rem;
}

.input {
  box-sizing: border-box;
  margin-right: 2rem;
  padding: 1rem;
}
